.nav-bar{
    background: linear-gradient(to top, #3d9085, #f3f3f3);
    width: 100vw;
    padding: 2px;
    float: right;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.logo{
    height: 50px;
}

.nav-bar ul{
    list-style: none;
    flex-direction: row;
    display: flex;
}

.nav-bar ul li{
    padding: 5px;
    border-right: 1px solid white;
}

.main-content{
    height: 100vh;
    width: 100%;
    background-color: #b0ceca;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principalImage{
    height: 40vh;
}