    .nav-bar {
        background: linear-gradient(to top, #3d9085, #f3f3f3);
        width: 100vw;
        padding: 2px;
        // margin-left: 500px;
        position: fixed;
        float: right;
        display: flex;
        justify-content: space-between;
    }
    
    .logo {
        height: 70px;
        margin-left: 20px;
    }
    
    .nav-bar ul {
        list-style: none;
        flex-direction: row;
        display: flex;
    }
    
    .nav-bar ul li {
        padding: 10px;
        border-right: 1px solid white;
        display: block;
        background-color: rgb(11, 133, 133);
    }
    
    // submenu
    .nav-bar li {
        text-decoration: none;
        padding: 15px 10px;
        display: block;
    }
    
    .nav-bar>li {
        float: left;
    }
    
    .nav-bar li ul {
        display: none;
        position: absolute;
        min-width: 140px;
        padding: 0px;
    }
    
    .nav-bar ul li:hover {
        background-color: rgb(136, 209, 240);
    }
    
    .nav-bar li:hover>ul {
        display: block;
    }
    
    .nav-bar li ul li {
        position: relative;
    }
    
    .nav-bar ul li ul li {
        right: 10px;
        top: 13px;
        border-right: none;
        border-top: 1px solid white;
    } // fin submenu
    .main-content {
        height: 100vh;
        width: 100%;
        background-color: #b0ceca;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .principalImage {
        height: 40vh;
    }