.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.body {
  height: 100vh;
  width: 100%;
  color: black;
  font-family: monospace;
  font-size: large;
  background: linear-gradient(to top, #3d9085, #f3f3f3); }

fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.336);
  width: 40%;
  height: auto;
  border: none;
  border-color: white;
  border-radius: 10px; }

.inputs {
  width: 95%;
  height: 40px;
  border-radius: 0px 6px 6px 0px;
  border: none;
  font-size: 12px;
  letter-spacing: 2px;
  outline: 0px;
  padding-left: 5px;
  margin: 0px 0px 10px 0px; }

.icons {
  width: 28px;
  border: 1px solid;
  height: 28px;
  border-radius: 6px 0px 0px 6px; }

.form {
  display: flex !important;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center; }

.formDiv {
  height: auto;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  align-items: center; }

.formDivCase {
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  align-items: center; }

@media (max-width: 1024px) {
  .formDiv {
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    align-items: center; }
  .formDivCase {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    align-items: center; } }

@media (max-width: 768px) {
  .formDiv {
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    align-items: center; }
  .formDivCase {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    align-items: center; } }

@media (max-width: 668px) {
  .formDiv {
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    align-items: center; }
  .formDivCase {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    align-items: center; } }

.w100 {
  width: 100%; }

.w1002 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.basic-div {
  display: flex !important;
  text-align: center;
  justify-content: center; }

.rowLogReg {
  width: 30%; }

a {
  text-decoration: none;
  color: white; }

.divFather {
  height: 0px;
  margin-top: 26px; }

.divAnda {
  border-radius: 6px;
  border: 1px solid;
  background-color: #428f8b;
  color: white !important;
  font-size: 12px;
  letter-spacing: 2px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center; }

.divAnda:hover {
  cursor: pointer; }

.button {
  width: 100%;
  height: 40px;
  outline: 0px; }

.border {
  width: 30px;
  height: 28px;
  border: 1px solid white;
  border-radius: 6px 0px 0px 6px;
  padding: 5px;
  margin: 1px 0px 0px 0px; }

.ic {
  color: #ffff; }

.botoniniciar {
  border-radius: 6px;
  border: 1px solid;
  background-color: #428f8b;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  width: 100%; }

.botoniniciar:hover {
  color: #fff;
  border-color: #ffffff;
  background-color: #2a807a;
  cursor: pointer; }

.botonregresar {
  border-radius: 6px;
  border: 1px solid;
  background-color: #428f8b;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px; }

.botonregresar:hover {
  color: rgba(204, 204, 204, 0.816);
  border-color: #ffffff;
  background-color: #2a807a;
  cursor: pointer; }

p {
  color: white;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 10px; }

.registro {
  width: 300px;
  height: 60px;
  background-color: rgba(0, 0, 255, 0.774);
  border-radius: 5px;
  border: 1px solid;
  margin: 0px;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 15px; }

.botoneliminar {
  background-color: #9c2727; }

.botoneliminar:hover {
  background-color: #c74040 !important; }

.main {
  width: 100%;
  height: 100%; }

::-webkit-scrollbar {
  background-color: #adcdc9;
  width: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background-color: #0b8585;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background-color: #1c6464; }

.tablas {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto; }

.registro:hover {
  color: #fdfdfd;
  background-color: #428f8b; }

.table {
  width: 80%;
  background-color: #589f96;
  height: 80%;
  margin-top: 5%;
  box-shadow: 0px 0px 60px black;
  display: flex;
  justify-content: center;
  color: white; }

td {
  background-color: #356f6f; }

th {
  background-color: #095050; }

.table > table {
  margin-top: 2%; }

.table > table > thead > tr > th {
  padding: 5px;
  border: 1px solid white; }

.table > table > tbody > tr > td {
  max-width: 120px;
  border: 1px solid white; }

.formDivCases {
  margin-top: 20px;
  margin-left: -60px; }

.divbtnXIcon {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

.btnXIcon {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

.imgXIcon {
  height: 30px; }

.table {
  width: 80%;
  background-color: #589f96;
  height: 80%;
  margin-top: 5%;
  box-shadow: 0px 0px 60px black;
  display: flex;
  justify-content: center; }

.textArea {
  width: 95%;
  height: 200px;
  border-radius: 0px 6px 6px 0px;
  border: none;
  font-size: 12px;
  letter-spacing: 2px;
  outline: 0px;
  padding-left: 5px;
  margin: 0px 0px 10px 0px;
  max-width: 95%;
  min-width: 95%;
  max-height: 200px;
  min-height: 200px; }

.formCasos {
  display: flex !important;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  overflow: auto; }

.divCaseImg {
  max-height: 50vh;
  width: 50vh;
  overflow: auto; }

.caseImg {
  max-height: 50vh; }

.logo-login {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center; }

.nav-bar {
  background: linear-gradient(to top, #3d9085, #f3f3f3);
  width: 100vw;
  padding: 2px;
  position: fixed;
  float: right;
  display: flex;
  justify-content: space-between; }

.logo {
  height: 70px;
  margin-left: 20px; }

.nav-bar ul {
  list-style: none;
  flex-direction: row;
  display: flex; }

.nav-bar ul li {
  padding: 10px;
  border-right: 1px solid white;
  display: block;
  background-color: #0b8585; }

.nav-bar li {
  text-decoration: none;
  padding: 15px 10px;
  display: block; }

.nav-bar > li {
  float: left; }

.nav-bar li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  padding: 0px; }

.nav-bar ul li:hover {
  background-color: #88d1f0; }

.nav-bar li:hover > ul {
  display: block; }

.nav-bar li ul li {
  position: relative; }

.nav-bar ul li ul li {
  right: 10px;
  top: 13px;
  border-right: none;
  border-top: 1px solid white; }

.main-content {
  height: 100vh;
  width: 100%;
  background-color: #b0ceca;
  display: flex;
  justify-content: center;
  align-items: center; }

.principalImage {
  height: 40vh; }

.datosPersonales {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; }

.divDataUsuario {
  height: 70%; }

.table-user {
  width: 90%;
  background-color: #589f96;
  height: 85%;
  margin-top: 5%;
  box-shadow: 0px 0px 60px black;
  display: flex;
  justify-content: center;
  color: white; }

.table > table {
  margin-top: 2%; }

th {
  padding: 5px;
  border: 1px solid white; }

td {
  max-width: auto;
  border: 1px solid white; }

.FormRegister {
  height: 70%;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  align-items: center; }

.logo-registro {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center; }

.logo-registro > img {
  height: 140px; }

@media (max-width: 1024px) {
  .FormRegister {
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    align-items: center; } }

@media (max-width: 768px) {
  .FormRegister {
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    align-items: center; } }

@media (max-width: 668px) {
  .FormRegister {
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    align-items: center; } }

.Toastify__toast-container {
  z-index: 9999;
  position: fixed;
  padding: 4px;
  width: 320px;
  box-sizing: border-box;
  color: #fff; }

.Toastify__toast-container--top-left {
  top: 1em;
  left: 1em; }

.Toastify__toast-container--top-center {
  top: 1em;
  left: 50%;
  margin-left: -160px; }

.Toastify__toast-container--top-right {
  top: 1em;
  right: 1em; }

.Toastify__toast-container--bottom-left {
  bottom: 1em;
  left: 1em; }

.Toastify__toast-container--bottom-center {
  bottom: 1em;
  left: 50%;
  margin-left: -160px; }

.Toastify__toast-container--bottom-right {
  bottom: 1em;
  right: 1em; }

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: 0;
    margin: 0; }
  .Toastify__toast-container--top-left,
  .Toastify__toast-container--top-center,
  .Toastify__toast-container--top-right {
    top: 0; }
  .Toastify__toast-container--bottom-left,
  .Toastify__toast-container--bottom-center,
  .Toastify__toast-container--bottom-right {
    bottom: 0; }
  .Toastify__toast-container--rtl {
    right: 0;
    left: initial; } }

.Toastify__toast {
  position: relative;
  min-height: 64px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 1px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 800px;
  overflow: hidden;
  font-family: sans-serif;
  cursor: pointer;
  direction: ltr; }

.Toastify__toast--rtl {
  direction: rtl; }

.Toastify__toast--default {
  background: #fff;
  color: #1d1c1c; }

.Toastify__toast--info {
  background: #34aadc; }

.Toastify__toast--success {
  background: #07bc0c; }

.Toastify__toast--warning {
  background: #f1c40f; }

.Toastify__toast--error {
  background: #e74c3c; }

.Toastify__toast-body {
  margin: auto 0;
  -ms-flex: 1;
  flex: 1; }

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin-bottom: 0; } }

.Toastify__close-button {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.Toastify__close-button--default {
  color: #000;
  opacity: 0.3; }

.Toastify__close-button:hover,
.Toastify__close-button:focus {
  opacity: 1; }

@keyframes Toastify__trackProgress {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  z-index: 9999;
  opacity: 0.7;
  animation: Toastify__trackProgress linear 1;
  background-color: rgba(255, 255, 255, 0.7); }

.Toastify__progress-bar--rtl {
  right: 0;
  left: initial; }

.Toastify__progress-bar--default {
  /* background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55); */
  background: linear-gradient(to right, #4285f4, #34a853, #fbbc05, #ea4335); }

@keyframes Toastify__bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }

@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

@keyframes Toastify__bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }

@keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

@keyframes Toastify__bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

@keyframes Toastify__bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }

@keyframes Toastify__bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

.Toastify__bounce-enter--top-left,
.Toastify__bounce-enter--bottom-left {
  animation-name: Toastify__bounceInLeft; }

.Toastify__bounce-enter--top-right,
.Toastify__bounce-enter--bottom-right {
  animation-name: Toastify__bounceInRight; }

.Toastify__bounce-enter--top-center {
  animation-name: Toastify__bounceInDown; }

.Toastify__bounce-enter--bottom-center {
  animation-name: Toastify__bounceInUp; }

.Toastify__bounce-exit--top-left,
.Toastify__bounce-exit--bottom-left {
  animation-name: Toastify__bounceOutLeft; }

.Toastify__bounce-exit--top-right,
.Toastify__bounce-exit--bottom-right {
  animation-name: Toastify__bounceOutRight; }

.Toastify__bounce-exit--top-center {
  animation-name: Toastify__bounceOutUp; }

.Toastify__bounce-exit--bottom-center {
  animation-name: Toastify__bounceOutDown; }

@keyframes Toastify__zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes Toastify__zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.Toastify__zoom-enter {
  animation-name: Toastify__zoomIn; }

.Toastify__zoom-exit {
  animation-name: Toastify__zoomOut; }

@keyframes Toastify__flipIn {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }

@keyframes Toastify__flipOut {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

.Toastify__flip-enter {
  animation-name: Toastify__flipIn; }

.Toastify__flip-exit {
  animation-name: Toastify__flipOut; }

@keyframes Toastify__slideInRight {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__slideInLeft {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__slideInUp {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__slideInDown {
  from {
    transform: translate3d(0, -110%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0); } }

@keyframes Toastify__slideOutLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0); } }

@keyframes Toastify__slideOutDown {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0); } }

@keyframes Toastify__slideOutUp {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, -500px, 0); } }

.Toastify__slide-enter--top-left,
.Toastify__slide-enter--bottom-left {
  animation-name: Toastify__slideInLeft; }

.Toastify__slide-enter--top-right,
.Toastify__slide-enter--bottom-right {
  animation-name: Toastify__slideInRight; }

.Toastify__slide-enter--top-center {
  animation-name: Toastify__slideInDown; }

.Toastify__slide-enter--bottom-center {
  animation-name: Toastify__slideInUp; }

.Toastify__slide-exit--top-left,
.Toastify__slide-exit--bottom-left {
  animation-name: Toastify__slideOutLeft; }

.Toastify__slide-exit--top-right,
.Toastify__slide-exit--bottom-right {
  animation-name: Toastify__slideOutRight; }

.Toastify__slide-exit--top-center {
  animation-name: Toastify__slideOutUp; }

.Toastify__slide-exit--bottom-center {
  animation-name: Toastify__slideOutDown; }

/*# sourceMappingURL=ReactToastify.css.map */
